<form (ngSubmit)="salvar()">   
    
    <br/>
    <h3>{{titulo}}</h3>
    
    <label>Código:
        <input type="input" name="codigo" size="10" [(ngModel)]="pessoa.codigo" disabled/>
    </label><br/><br/>

    <label>Nome:
        <input type="input" name="nome" size="30" [(ngModel)]="pessoa.nome" required/>
    </label><br/><br/>

    <label>Data de Nascimento:
        <input type="date" name="data_nasc" size="10" [(ngModel)]="pessoa.data_nasc" required/>
    </label><br/><br/>
    
    <label>Documento de identificação:
        <input type="input" name="doc_ident" size="15" [(ngModel)]="pessoa.doc_ident" required/>
    </label><br/><br/>

    <label>Sexo:
        <input type="input" name="doc_ident" size="10" [(ngModel)]="pessoa.sexo" required/>
    </label><br/><br/>

    <label>Endereço:
        <input type="input" name="endereco" size="30" [(ngModel)]="pessoa.endereco" required/>
    </label><br/><br/>

    <button type="submit">Salvar</button>
</form>