
<h3>{{titulo}}</h3>

<table>
    <thead>
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Documento de Identificação</th>
        <th>Sexo</th>
        <th>Endereço</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let pessoa of pessoas; let i = index;">
        <td>{{ pessoa.codigo }}</td>        
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.data_nasc }}</td>  
        <td>{{ pessoa.doc_ident }}</td>       
        <td>{{ pessoa.sexo }}</td> 
        <td>{{ pessoa.endereco }}</td> 
        <td><a (click)="editar(pessoa.codigo);">Editar</a></td>
        <td><a (click)="excluir(pessoa.codigo);">Excluir</a></td>
        
        </tr>
        <tr>
           <td colspan="6" style="text-align: right;">Total de Registros: {{ pessoas.length }}</td> 
        </tr>
    </tbody>
</table>
      