<ul>
    <li><a [routerLink]="['/home']">Home</a></li>            
    <li><a [routerLink]="['/cadastro-pessoa']">Cadastro</a></li>        
    <li><a [routerLink]="['/consulta-pessoa']">Consulta</a></li>  
    <li><a [routerLink]="['/relatorio-pessoa']">Relatório</a></li>      
</ul>